<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pupil.name %>
</p>

<p>
  <strong>Form:</strong>
  <%= @pupil.form %>
</p>

<%= link_to 'Edit', edit_pupil_path(@pupil) %> |
<%= link_to 'Back', pupils_path %>
